html{
  height: 100%;
}
body{
  height: 100%;
}

#playerSettings
{
  position: fixed;
}

#drawingSettings
{
  position: fixed;
  top: 100px;
}

#screen{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px #000;
  height: 500px;
  width: 500px;
}
